<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedGoldBank</title>
    <link rel="stylesheet" href="/views/Public/css/interfaz/interfaz.css">
</head>
<body>
    <!-- bloque header -->
   
    <header class="cabecera">
        <img src="/views/Public/img/Logo.png" alt="RedGoldBank-LOGO">
        <nav>
            <ul class="menu-Ul">
                <li class="elementos"><a href="/views/Pages/personas.html">Personas</a></li>
                <li class="elementos"><a href="/views/Pages/creditos.html">Prestamos RG</a></li>
                <li class="elementos"><a href="/views/Pages/beneficios.html">Beneficios</a></li>
                <li class="elementos"><a href="">Nosotros</a></li>
                <li class="nav-Derecha"><a class="destacado" href="/views/Pages/login.html">Acceso</a></li>
                <li class="elementos"><a href="/views/Pages/soporte.html">Soporte</a></li>
            </ul>
        </nav>
    </header>

    <h3>Bienvenido</h3>
    <h1>¿Qué <br>Deseas <br> Hacer Hoy?</h1>
    <div class="contenedor">
        <div class="tarjeta">
            <button><a href="/views/Public/Pages/userInterfaz/opciones/misCreditos.html">Mis Creditos</a></button>
            <button><a href="/views/Public/Pages/userInterfaz/opciones/actualizarDatos.html">Actualizar datos</a></button>
            <button><a href="/views/Public/Pages/userInterfaz/opciones/pagoCreditos.html">Pago de Creditos</a></button>
            <button><a href="/views/Public/Pages/userInterfaz/opciones/puntosRg.html">Mis puntos RG</a></button>
        </div>
    </div>
</body>
</html>