@font-face {
    font-family: 'LetraPrincipal';
    src: url('/views/Fonts/LetraPrincipal.otf');
}

@font-face {
    font-family: 'FuenteLogin';
    src: url('/views/Fonts/LeagueSpartan-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'FuenteBoton';
    src: url('/views/Fonts/Garet-Book.otf');
}

@font-face {
    font-family: 'FuenteTexto';
    src: url('/views/Fonts/Poppins-Regular.ttf');
}

/*Se insertan y se nombran todas las fuentes necesarias para el diseño*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

/*Menu de navegacion*/

.cabecera img {
    width: 20%;
    height: 90px;
    transition: all 0.3s ease-in-out;
    margin-left: 40%;
}

.cabecera nav {
    background-color: #293737;
    padding: 10px;
    position: sticky;
    top: 0px;
}

.cabecera ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.cabecera li {
    margin-right: 20px;
    padding: 20px;
    border: none;
    outline: none;
    cursor: pointer;

}

.cabecera a {
    color: #b42525;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'FuentePrincipal';
    font-size: 18px;
    font-weight: 700;
    text-align: center;

}

.elementos::before {
    content: '';
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: transform 0.6s ease-in-out, border-color 0.6s ease-in-out;
    z-index: -1;
}

.elementos:hover::before {
    border-color: red;
    transform: rotate(360deg);
}

.cabecera li:hover a {
    color: red;
    /* Cambiar color del texto en hover */
}

.nav-Derecha {
    margin-left: auto;
}

.destacado {
    font-weight: bold;
}

/* bloque 1 */

.contenidoCentral {
    display: inline;

}

.info {
    height: 1000px;
    width: 100%;
    display: inline;
    position: absolute;
    top: 20%;
}

.contImg img {
    width: 30%;
    position: relative;
    top: -220px;
    left: 80px;
    z-index: -1;
}

.info {
    display: inline;
    position: relative;
    left: 45%;
}

.info h2 {
    font-family: 'FuenteLogin';
    color: #b42525;
    font-size: 40px;
}

.info p {
    text-align: justify;
    font-size: 22px;
    width: 700px;
    margin: 50px 50px 50px 0;
}

.info button {
    padding: 20px 50px;
    font-size: 18px;
    font-weight: bold;
    color: #e4c15c;
    background: linear-gradient(90deg, #ad1010 50%, #ff0303 50%);
    background-size: 200%;
    background-position: 0%;
    border: 1px solid red;
    border-radius: 20px;
    cursor: pointer;
    transition: background-position 0.5s ease-in-out;
    outline: none;
}

.info button:hover {
    background-position: 100%;
    color: yellow;
}

.info a {
    text-decoration: none;
    color: #e4c15c;
}

.info a:hover {
    color: yellow;
}

/* bloque 2 */

.infoPrestamos {
    background: linear-gradient(red 60%, gold);
    width: 100%;
    height: 800px;
    position: absolute;
    top: 800px;
}

.infoPrestamos h3 {
    padding: 5%;
    font-family: 'FuenteLogin';
    background: linear-gradient(Gold 40%, white 50%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 40px;
}

.infoPrestamos li {
    width: 70%;
    margin-top: 20px;
    margin-left: 70px;
    font-size: 22px;
    font-family: 'FuenteTexto';
    color: white;
}

.infoPrestamos ol {
    position: absolute;
    top: 30%;
}

.infoPrestamos img {
    width: 30%;
    height: 70%;
    position: relative;
    left: 65%;
    top: -35px;
}

/* bloque 3 */

.preguntasFrecuentes {
    width: 100%;
    height: 250px;
    position: relative;
    top: 600px;
    left: 50px;
    font-family: 'FuenteTexto';
}

section h1 {
    font-size: 40px;
    font-weight: 700;
    color: #293737;
}

.faq-Container {
    border-top: 2px solid #f4f4f4;
    margin-top: 10%;
}

.faq-Item {
    width: 80%;
    margin: 10px 0;
    border-bottom: 2px solid #293737;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.faq-Question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-Question h3 {
    color: #333;
    font-size: 18px;
}

.icon {
    font-size: 24px;
    color: #ff0000;
    transition: transform 0.3s ease;
}

.faq-Answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    color: #ff0000;
    font-size: 22px;
}

.faq-Item.active .faq-answer {
    max-height: 100px;
    padding-top: 10px;
}

.faq-Item.active .icon {
    transform: rotate(45deg);
}

/* bloque 4 */

.sobreN {
    font-family: 'FuenteTexto';
    font-size: 14px;
    width: 100%;
    height: 500px;
    background: linear-gradient(red 60%, gold);
    display: flex;
    position: relative;
    top: 800px;
    justify-content: center;
    align-items: center;

}

.mainSobreN {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabezaSobreN {
    background-color: black;
    width: 100%;
    height: 100px;
}

.section-ItemSobreN {
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section-ItemSobreN h2 {
    font-size: 22px;
    font-weight: 700;
}

.section-ItemSobreN p {
    font-size: 22px;
}

.section-ItemSobreN img {
    height: 130px;
    width: 200px;
}


.section-ItemSobreN button {
    border: currentColor;
    background-color: #293737;
    border-radius: 40px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    font-family: 'FuenteTexto';
    font-size: 18px;
}

.section-ItemSobreN button:hover {
    background-color: red;
    transition: ease 0.45s;
    color: gold;
}

.section-ItemSobreN a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.tarjeta {
    position: absolute;
    left: -18%;
    width: 200px;
    height: 200px;
    background-color: white;
    text-align: center;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 10%;
    margin-left: 100px;
}

.tarjeta img {
    width: 100%;
    height: 100%;

}

/* Pie de pagina */

footer {
    width: 100%;
    height: 200px;
    position: relative;
    top: 800px;
}

.divRedes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 100px;
}

.divRedes img {
    background: linear-gradient(red 80%, gold);
    border-radius: 20px;
    padding: 10px;
    width: 10%;
    height: 100px;
    margin-top: 50px;
    margin-left: 70px;
}