
 img {
    width: 80%;
    height: 90px;
    transition: all 0.3s ease-in-out;
    margin-left: 10%;
  }
  





  body {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(red 30%,gold);
}




.contenedor-pasarela {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 45px;

}


.titulo-seccion {
    color: #333;
    border-bottom: 2px solid red;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.resumen-pago {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.elemento-resumen {
    margin-bottom: 15px;
}

.etiqueta-resumen {
    font-weight: bold;
    color: #333;
}

.boton-confirmar {
    background-color: #b42525;
    color: gold;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

.selector-bancos {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.grupo-privacidad {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.grupo-privacidad input {
    margin-right: 10px;
}