@font-face{
    font-family:'LetraPrincipal';
    src: url('/views/Fonts/LetraPrincipal.otf');
}
@font-face {
    font-family:'FuenteLogin';
    src: url('/views/Fonts/LeagueSpartan-VariableFont_wght.ttf');
}
@font-face {
    font-family:'FuenteBoton';
    src: url('/views/Fonts/Garet-Book.otf');
}
@font-face {
    font-family:'FuenteTexto';
    src: url('/Public/Fonts/Poppins-Regular.ttf');
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding:0;
}
/*Menu de navegacion*/

.cabecera img {
    width: 20%;
    height: 90px;
    transition: all 0.3s ease-in-out;
    margin-left: 40%;
}

.cabecera nav {
    background-color: #293737;
    padding: 10px;
    position: sticky;
    top: 0px;
}

.cabecera ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.cabecera li {
    margin-right: 20px;
    padding: 20px;
    border: none;
    outline: none;
    cursor: pointer;

}

.cabecera a {
    color: #b42525;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'FuentePrincipal';
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    display: inline;
}

.elementos::before {
    content: '';
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: transform 0.6s ease-in-out, border-color 0.6s ease-in-out;
    z-index: -1;
}

.elementos:hover::before {
    border-color: red;
    transform: rotate(360deg);
}

.cabecera li:hover a {
    color: red;
    /* Cambiar color del texto en hover */
}

.nav-Derecha {
    margin-left: auto;
}

.destacado {
    font-weight: bold;
}
h3{
    font-family: 'LetraPrincipal';
    font-size: 50px;
    color:#b42525;
    margin-top: 50px;
    margin-left: 10%;
}
h1{
    margin-left: 10%;
    font-family: 'FuenteLogin';
    font-size: 80px;
}

.tarjeta{
    width: 30%;
    border-radius: 20px;
    height: 460px;
    border: solid 2px #b42525;
    position: absolute;
    left: 60%;
    top:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
    color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: #b42525;
    padding: 5%;
    border: currentColor;
    border-radius: 50px;
    width: 300px;
    height: 90px;
    margin-top: 5%;
    overflow: hidden;
}

button:hover{
    background-color: yellow;
    color: #b42525;
    transition: ease 1s;
    font-size: 30px;
}
a:hover{
    color:#b42525;
}