<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/Public/css/Beneficios.css">
    <title>Beneficios_RedGlod.Bank</title>
</head>

<body>

    <!-- bloque header -->
   
    <header class="cabecera">
        <img src="/views/Public/img/Logo.png" alt="RedGoldBank-LOGO">
        <nav>
            <ul class="menu-Ul">
                <li class="elementos"><a href="/views/Pages/personas.html">Personas</a></li>
                <li class="elementos"><a href="/views/Pages/creditos.html">Prestamos RG</a></li>
                <li class="elementos"><a href="/views/Pages/beneficios.html">Beneficios</a></li>
                <li class="elementos"><a href="">Nosotros</a></li>
                <li class="nav-Derecha"><a class="destacado" href="/views/Pages/login.html">Acceso</a></li>
                <li class="elementos"><a href="/views/Pages/soporte.html">Soporte</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h1> Realiza un préstamo equivalente a 60 millones
                después de 4 años en compañía nuestra y haber realizado un mínimo de 10 créditos. </h1>
            <p>Obtén descuentos más beneficiosos para viajes, estudios, compras para el hogar y demás, realizando tu
                primer DELUX GOLD,
                recuerda siempre que utilices tus beneficios del DG podrás acumular todavía muchos mas puntos.</p>
        </section>
        <div>
            <img src="/views/Public/img/Avion.png" alt="Avion">
        </div>
    </main>
</body>

</html>