<!DOCTYPE html>


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/Public/css/login.css">
    <title>Iniciar Sesión</title>
</head>

<body>

    <header class="cabecera">
        <a href="/index.html">
            <img src="/views/Public/img/Logo.png" alt="RedGoldBank-LOGO">
        </a>
        <nav>
            <ul class="menu-Ul">
                <li class="elementos"><a href="/views/Pages/personas.html">Personas</a></li>
                <li class="elementos"><a href="/views/Pages/creditos.html">Prestamos RG</a></li>
                <li class="elementos"><a href="/views/Pages/beneficios.html">Beneficios</a></li>
                <li class="elementos"><a href="">Nosotros</a></li>
                <li class="nav-Derecha"><a class="destacado" href="/views/Pages/login.html">Acceso</a></li>
                <li class="elementos"><a href="/views/Pages/soporte.html">Soporte</a></li>
            </ul>
        </nav>
    </header>

    <div class="contP">
        <img src="/views/Public/img/Logo.png" alt="RedGoldBankLogo">
        <p>En Red Gold Bank, tu seguridad es nuestra prioridad.
            Nos comprometemos a proteger tus datos con los más altos estándares de seguridad en nuestra plataforma web.
            Utilizamos tecnología avanzada de encriptación y protocolos de seguridad para asegurarnos de que toda tu
            información personal y financiera esté completamente protegida en todo momento.</p>
    </div>
    <div class="box" id="box">
        <div class="form">
            <!--Formulario del login-->
            <div id="login">
                <form action="" method="get">
                    <h2>Iniciar Sesión</h2>
                    <div class="inputBox">
                        <input id="nombreLogin" name="nombreLogin" type="text" required="required">
                        <span>Nombre Completo</span>
                        <i class = "i"></i>
                    </div>
                    <div class="inputBox">
                        <input id="contraseniaLogin" name="contraseniaLogin" type="password" required="required">
                        <span>Contraseña</span>
                        <i class = "i"></i>

                    </div>
                    <div class="links">
                        <a id="link_olvide" onclick="showForgetPassword()">Olvide mi Contraseña</a>
                        <a id="link_registrarse" onclick="showformularioRegistro()">Registrarme</a>
                    </div>
                    <button name="btn_iniciarsesion" id="btn_iniciarsesion"> Iniciar </button>
                </form>
            </div>


            <!--Formulario de olvide mi contraseña-->

            <div id="forgetPassword">
                <form action="">
                    <h2>Ingrese número de documento</h2>
                    <div class="inputBox">
                        <input class="inputForget" name="recuperarclave" id="recuperarclave" type="text"
                            required="required">
                        <span>Numero de cedula:</span>
                        <i class="i"></i>
                    </div>
                    <div class="links">
                        <a id="link_login" onclick="showLogin()">Iniciar Sesión</a>
                        <a id="link_registrarse" onclick="showformularioRegistro()">Registrarme</a>
                    </div>
                    <button name="btn_forgetPassword" id="btn_forgetPassword"> Recuperar clave </button>
                </form>
            </div>
            <!--Formulario de registro-->

            <div id="formulario_registro">
                <form action="">
                    <h2>Registrarme</h2>
                    <div class="inputBox">
                        <input class="inputs_registro" name="registroNombre"  id="registroNombre" type="text" required="required">
                        <span>Nombre completo</span>
                        <i class = "i"></i>
                    </div>
                    <div class="inputBox">
                        <input class="inputs_registro" name="registroDocumento"  id ="registroDocumento"type="text" required="required">
                        <span>Documento </span>
                        <i class = "i"></i>
                    </div>
                    <div class="inputBox">
                        <input class="inputs_registro" name="registroEmail" id="registroEmail" type="email" required="required">
                        <span>Email</span>
                        <i class = "i"></i>
                    </div>
                    <div class="inputBox">
                        <input class="inputs_registro" name="registroClave" id="registroClave" type="password" required="required">
                        <span>Contraseña</span>
                        <i class = "i"></i>
                    </div>
                    <div class="links">
                        <a id="link_olvide" onclick="showForgetPassword()">Olvide mi Contraseña</a>
                        <a id="link_login" onclick="showLogin()">Iniciar Sesión</a>
                    </div>

                    <button name="btn_registrarme" id="btn_registrarme"> Registrarme </button>
                </form>
            </div>
        </div>
    </div>
    
    <script type="module" src="/views/Public/JS/scriptLogin.js"></script>
    <script type="module" src="/controllers/ControllerLogin.js"></script>

</body>

</html>