<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/Public/css/login.css">
    <title>Iniciar Seccion</title>
</head>

<body>

    <div class="contP">
        <img src="/views/Public/img/Logo.png" alt="RedGoldBankLogo">
            <p>En Red Gold Bank, tu seguridad es nuestra prioridad.
            Nos comprometemos a proteger tus datos con los más altos estándares de seguridad en nuestra plataforma web. Utilizamos tecnología avanzada de encriptación y protocolos de seguridad para asegurarnos de que toda tu información personal y financiera esté completamente protegida en todo momento.</p>
    </div>
    <div class="box" id="box">
        <div class="form">
            <form action="" method="get" id="Login">
                <h2>Iniciar Sesión</h2>
                <div class="inputBox">
                    <input id = "nombreLogin" type="text" required="required">
                    <span>Nombre Completo</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input id="contraseniaLogin" type="password" required="required">
                    <span>Contraseña</span>
                    <i></i>
                </div>
                <div class="links">
                    <a id ="link_olvide" onclick="forgetPassword()">Olvide mi Contraseña</a>
                    <a id ="link_registrarse" onclick="formulario_registro()">Registrarme</a>
                </div>
           <button name="btn_iniciarsesion" id ="btn_iniciarsesion"> Iniciar </button>
            </form>

    


            <form action="" id="forgetPassword">
                <h2>Olvide mi Contraseña</h2>
                <div class="inputBox">
                    <input class = "inputForget" type="text" required="required">
                    <span>Numero de cedula:</span>
                    <i></i>
                </div>
                <div class="links">
                    <a onclick="signIn()" href="">Iniciar Sesion</a>
                    <a onclick="signUp()" href="">Registrarme </a>
                </div>
                <button name="btn_forgetPassword" id ="btn_forgetPassword"> Recuperar clave </button>
            </form>

            


            <form action="" id="formulario_registro">
                <h2>Registrarme</h2>
                <div class="inputBox">
                    <input class ="inputs_registro" type="text" required="required">
                    <span>Nombre completo</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input class ="inputs_registro" type="text" required="required">
                    <span>Documento de identidad</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input class ="inputs_registro"type="email" required="required">
                    <span>Email</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input class ="inputs_registro" type="password" required="required">
                    <span>Contraseña</span>
                    <i></i>
                </div>
                <div class="links">
                    <a onclick="forgetPassword()">Olvide mi Contraseña</a>
                    <a onclick="formulario_registro()">Registrarme</a>
                </div>
                
                <button name="btn_registrarme" id ="btn_registrarme"> Registrarme </button>
            </form>
        </div>
    </div>
    <script   src="/views/Public/JS/scriptLogin.js"></script>
    <script type="model" src="/views/Public/JS/script.js"></script>

</body>

</html>