<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personas</title>
    <link rel="stylesheet" href="/views/Public/css/personas.css">
</head>
<body>

    <header class="cabecera">
        <nav>
            <ul class="menu-Ul">
                <li class="elementos"><a href="/views/Pages/personas.html">Personas</a></li>
                <li class="elementos"><a href="/views/Pages/creditos.html">Prestamos RG</a></li>
                <li class="elementos"><a href="/views/Pages/beneficios.html">Beneficios</a></li>
                <li class="elementos"><a href="">Nosotros</a></li>
                <li class="nav-Derecha"><a class="destacado" href="/views/Pages/login.html">Acceso</a></li>
                <li class="elementos"><a href="/views/Pages/soporte.html">Soporte</a></li>
            </ul>
        </nav>
    </header>

    <main>
    <div class="divPersonas">
    <h1>Préstamos Personales</h1>
    <h2>Préstamos de Consumo</h2>
    <p class="pUno">Prestamos de corto y mediano plazo, para pequeñas cantidades de dinero.</p>
    <img src="/views/Public/img/personas.jpg" alt="Imagen de Persona" >
    </div>
    <section class="sectionPersonas">
        <form action="">
            <p class="p_form">Nombre</p>
            <label for="">
                <input name="nombre" id="nombre" placeholder="Ingrese su Nombre"></label>
            <p class="p_form">Número De identificación</p>
            <label for="">
                <input name="identificacion" id="identificacion" placeholder="Identificación"></label>
            <p class="p_form">Correo Electrónico</p>
            <label for="">
                <input name="correo" id="correo" placeholder="Correo electrónico"></label>
            <p class="p_form">Número de Celular</p>
            <label for="">
                <input name="celular" id="celular" placeholder="Número de Celular"></label>
            <p class="p_form">Motivo del Préstamo</p>
            <label for="">
                <input name="motivo" id="motivo" placeholder="Motivo"></label>
            <p class="p_form">Valor del Préstamo (Max. $300.000)</p>
            <label for="">
                <input name="valor" id="valor" placeholder="Valor"></label>
            <button id="enviar">ENVIAR</button>
        </form>
    </section>
</main>
    <script type="module" src="/views/Public/JS/scriptPersonas.js"></script>
    <script type="module" src="/controllers/ControllerPersonas.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>