<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sección de Soporte</title>
        <link rel="stylesheet" href="../Public/css/soporte.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <section class="soporte-Section">
        <h1>Soporte Técnico</h1>
        <p>Si tienes alguna pregunta o necesitas asistencia, no dudes en contactarnos a través del siguiente formulario. Estaremos encantados de ayudarte.</p>
        
        <form class="soporte-Form">
            <div class="form-Group">
                <label for=""><b>Nombre:</b></label>
                <input id="nombre" name="nombre" placeholder="Nombre" required>
            </div>

            <div class="form-Group">
                <label for=""><b>Correo Electrónico:</b></label>
                <input id="email" name="email" placeholder="Correo" required>
            </div>

            <div class="form-Group">
                <label for=""><b>Asunto:</b></label>
                <input id="asunto" name="asunto" placeholder="Asunto del mensaje" required>
            </div>

            <div class="form-Group">
                <label for=""><b>Mensaje:</b></label>
                <textarea id="mensaje" name="mensaje" rows="5" placeholder="Escribe su mensaje aquí" required></textarea>
            </div>

            <div class="form-Group">
                <button type="submit" id="enviar"><b>Enviar</b></button>
            </div>
        </form>
    </section>
    <script type="module" src="/controllers/ControllerSoporte.js" ></script>
    <script type="module" src="/views/Public/JS/scriptSoporte.js"></script>
    <script type="module" src="/models/ModelSoporte.js"></script>
</body>
</html>